.advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.advantages__item {
  margin: 0 33px;
  margin-top: 40px;
  text-align: center;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  color: #283645;
}

.advantages__image {
  margin-top: 45px;
}
