.advantages {
  background-color: #f2f2f2;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
}

.advantages__title-block {
  background-color: #ffffff;
}

.advantages__title {
  padding-bottom: 10px;
  color: #283645;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f2f2f2;
}

.advantages__item {
  margin: 0 33px;
  margin-top: 40px;
  text-align: center;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  color: #283645;
}

.advantages__image {
  margin-top: 45px;
}
