.app-download {
  font-family: 'Open sans', Arial, sans-serif;
  color: #ffffff;
  background-color: #283645;
}

.app-download__btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
}

.app-downloads__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}


