.main-nav {
  width: 320px;
}

.site-menu {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-menu__item {
  padding-top: 26px;
  padding-bottom: 24px;
  background-color: #283645;
}

.site-menu__item-link {
  text-decoration: none;
  color: #FFFFFF;
}

