.photo {
  width: 320px;
  margin-bottom: 50px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.photo__subtitle {
  padding: 0 40px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.photo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo__image {
  display: block;
  margin: 0 auto;
}

.photo__user-name {
  font-weight: 600;
}

.photo__user-info {
  padding-top: 25px;
}

.photo__publication-time {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.photo__users-likes {
  padding-bottom: 28px;
}

.photo__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}

.photo__description {
  width: 280px;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 23px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.photo__main-photo {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background: #d22856;
}
